
.homepage {
    background-image: $space-background;
    height: 100vh;
    width: 100vw;
    position: absolute;

    &__mainContent {
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 10rem;
        
        &--text {
            
        }

        &--chart {
            width: 75rem;
            height: 45rem;
            border-radius: 1rem;
            box-shadow: $shadow;
            background-color: rgba(252, 77, 228, 0.5);
        }
    }
}